*.obj
*.sbr
*.sdf
*.user
*.idb
*.exe
*.opensdf
*.ilk
*.bsc
*.log
*.pdb
*.lastbuildstate
*.tlog
*.a
*.manifest
*.res
*.o
*.v12.suo
*.v11.suo
*.suo
/x86
/lib
/x64
/arm
/Debug
src/Protheus/log.txt
/vs2014/lib
/vs2014/Debug
src/Protheus/Debug
Protheus Engine.sdf