*.sbr
*.sdf
*.user
*.idb
*.exe
*.opensdf
*.ilk
*.bsc
*.log
*.pdb
*.lastbuildstate
*.tlog
*.a
log.txt
*.manifest
*.res
*.ipch
*.o
*.v12.suo
*.v11.suo
*/log.xml
*.suo
/x86
/lib
/x64
/arm
/Debug
/src/Utilities_test/Debug
/src/Test/Debug
/src/Protheus/Debug
/src/Core/Debug
/src/Core_Test/Debug
/src/Utilities/Debug
/src/Utilities_test/Release
/src/Test/Release
/src/Protheus/Release
/src/Core/Release
/src/Core_Test/Release
/src/Utilities/Release
src/Protheus/log.txt
/vs2014/lib
*/Debug
/vs2014/Debug
src/Protheus/Debug 
/vs2014/Release
src/Protheus/Release
Protheus Engine.sdf
src/Core_Test/Debug/LearnOGL.obj
*.obj
*.obj
src/Utilities_unittest/Debug/TestParallel.obj
src/Utilities_unittest/Debug/TestParallel.obj
