TestCases/scripts/__pycache__
TestCases/bin
*.sbr
*.sdf
*.user
*.idb
*.exe
*.opensdf
*.ilk
*.bsc
*.log
*.pdb
*.lastbuildstate
*.tlog
*.a
*.bsc
*.manifest
*.res
*.ipch
*.o
*.obj
*.v12.suo
*.v11.suo
*.ipgset
*/log.xml
*.suo
/x86
/lib
/x64
/arm
/Debug 
/src/Protheus/Debug
/src/Core/Debug 
/src/Utilities/Debug 
/src/Test/Release
/src/Protheus/Release
/src/Core/Release 
/src/Utilities/Release
src/Protheus/log.txt
vs15/lib
Core.lib
Utilities.lib
*/Debug
/vs15/Debug
src/Protheus/Debug 
/vs15/Release
src/Protheus/Release
*.obj  
*.xml
vs15/lib/Debug/Utilities.lib
*.coverage
*.pch
*.opendb
vs15/.vs/
